## Preprocessing

In [280]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [281]:
df_powers = pd.read_csv("C:\\Users\\Alexander\\Downloads\\superhero_powers - superhero_powers.csv")
df_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [282]:
df_hero = pd.read_csv("C:\\Users\\Alexander\\Downloads\\superhero_info - superhero_info.csv")
df_hero.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [283]:
df_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [284]:
df_hero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [285]:
df_hero['Hero|Publisher'].str.split(' ',expand=True)
# split the columns

                       0            1       2       3
0          A-Bomb|Marvel       Comics    None    None
1                    Abe  Sapien|Dark   Horse  Comics
2                   Abin       Sur|DC  Comics    None
3     Abomination|Marvel       Comics    None    None
4              Absorbing   Man|Marvel  Comics    None
..                   ...          ...     ...     ...
458  Yellowjacket|Marvel       Comics    None    None
459         Yellowjacket    II|Marvel  Comics    None
460          Yoda|George        Lucas    None    None
461           Zatanna|DC       Comics    None    None
462              Zoom|DC       Comics    None    None

[463 rows x 4 columns]

In [286]:
## save the 2 new columns into the dataframe
df_hero[['Hero','Publisher']] = df_hero['Hero|Publisher'].str.split('|',expand=True)
df_hero.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [287]:
## drop the original column 
df_hero = df_hero.drop(columns=['Hero|Publisher'])
df_hero.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics

In [288]:
## use .str.replace to replace all single quotes
df_hero['Measurements'] = df_hero['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
df_hero['Measurements'] = df_hero['Measurements'].apply(json.loads)
df_hero['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [289]:
## check a single value after transformation
test_coord = df_hero.loc[0, 'Measurements']
print(type(test_coord))
test_coord

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [290]:
# f we use the pandas pd.Series function on our column of dictionaries, 
#it will automatically convert each key to a new column
h_w = df_hero['Measurements'].apply(pd.Series)
h_w

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [291]:
#Now, we concatenate these 2 new columns to our  original dataframe 
df_hero = pd.concat((df_hero, h_w), axis = 1)
df_hero.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics,185.0 cm,90.0 kg

In [292]:
#AAAAANNNND drop the original column.
df_hero = df_hero.drop(columns=['Measurements'])
df_hero.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

In [293]:
## examining a single value from the coordinates col
coord = df_powers.loc[0,"Powers"]
print(type(coord))
coord

<class 'str'>

'Agility,Super Strength,Stamina,Super Speed'

In [294]:
coord = coord.replace("'","''")
coord

'Agility,Super Strength,Stamina,Super Speed'

In [295]:
# Convert a column that contains lists (that were converted to strings), back to lists.
## showing the lists are really strings
df_powers.loc[2,'Powers']

'Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,Telepathy,Stamina,Immortality,Reflexes,Enhanced Sight,Sub-Mariner'

In [296]:
# Create a new column where the single quotes are replaced by double quotes
df_powers['Powers'] = df_powers['Powers'].str.replace("'",'"')

In [297]:
# Apply json.loads to entire column
df_powers['Powers'] = df_powers['Powers'].apply(json.loads)
# check results
df_powers['Powers'].head(3)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)